{% extends "base.html" %}

<!DOCTYPE html>
<html>
 {% block content %}  
<head>
	<title>Logout</title>
	<style>
    .gradient-custom-4 {
    background: #9faca4;
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
  }
	</style>
</head>
<body>
<section class="mainclass">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <h2>Hasta Pronto.</h2>
            <div class="border-top pt-3">
                <small class="text-muted">
                    <a href="{% url 'home' %}">Inicio</a>
                </small>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
{% endblock %}
</html>


