{% extends 'base.html' %}

{% block content %}
   <h1 class="text-left my-2">Usuarios</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-body">
              <table class="table">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Usuario</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>ACCIÓN</th>
                  </tr>
                </thead>
                <tbody>
                    {% for u in users %}
                  <tr>
                    <td>{{u.id}}</td>
                    <td>{{u.username}}</td>
                    <td>{{u.first_name}}</td>
                    <td>{{u.last_name}}</td>
                   <td>
                    <a href="{% url 'user_delete' u.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                   </td>
                  </tr>
                  {%endfor%}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}